* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #2b2b2b;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

header {
  background-color: #333333;
  text-align: center;
  padding: 10x;
  position: fixed;
  width: 100%;
  top: 0;
}

header h1 {
  color: #d1d1d1;
  font-size: 2.5rem;
}

header h1 span {
  color: #fd8a24;
}

.social-media-icon {
  width: 1.3rem;
}

.main-container {
  max-width: 885px;
  margin: auto;
  margin-top: 64px;
}

.main-container h2 {
  font-size: 3.3rem;
  margin-bottom: 1.25rem;
}

.main-container .author {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-container .author .time-socialmedia {
  display: flex;
  justify-content: space-between;
}

.main-container .author ul {
  background-color: red;
  list-style: none;
  display: flex;
  gap: 30px;
}
